body{
    background: #bfddf2;
    font-family: sans-serif;
}
h1{
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Oswald', sans-serif;

}
.container{
margin: 120px auto;
max-width: 600px;
}
header{
    margin-bottom:30px;
}
form{

    display: flex;


}
.prompt{
    padding: 16px;
    border: grey;
    width:80%;
    font-size: 16px;
    border-radius:50px;
    color:#333030;

}
.submit-button{
margin-left: 10px;
border-radius: 10px;
border: none;
background: #398ec6;
color: white;
padding: 10px 20px;
font-size: 15px;
}
.poem{
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
    border-left:3px solid #398ec6; 
    padding: 20px;
    box-shadow: 10px 10px 17px 11px rgba(0, 0, 0, 0.1);
    color: black;
}
.hidden{
    display: none;
}
footer{
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}
a{
    color: #398ec6;
}
.poem strong{
    color: #398ec6;
    text-align: center; 
}
.form-wrapper{
    margin-bottom: 30px;
    padding: 15px 20px;
    background-color:#f9f7f7 ;
    border-radius: 10px;
    box-shadow: 10px 10px 17px 11px rgba(0, 0, 0, 0.1);
}
.hint{
    line-height: 1.5;
    font-size: 13px;
    margin-top: 5px;
}
    .generating {
        animation: blink-animation 1s steps(5, start) infinite;
      }

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }